 	<div class= "mainBG col-sm-5">
			<div class= "row">
				<div class= "text-left col-sm-12"><h4>Sign Up</h4></div>
			</div>
			
			<div class= "row">
 			   <div class= "text-left col-sm-12">
				   <% if resource.errors.any? %>
					   <div class= "alert alert-danger">
				   		<%= render 'layouts/error_messages', object: resource %>
		   			   </div>
	   			   <%end%>
			   </div>
			</div>


	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, :role => "form", :class => "form-inline" }) do |f| %>
		<div class="row">
			
				<div class= "text-left col-sm-6">
					<%= f.label :first_name, :for => :first_name %><br />
					<%= f.text_field :first_name, autofocus: true, :class => "form-control", :id => "first_name", :placeholder => "Enter First Name" %>
				</div>
				<div class= "text-left col-sm-6">
					 <%= f.label :last_name, :for => :last_name %><br />
					 <%= f.text_field :last_name, :class => "form-control", :id => "last_name", :placeholder => "Enter Lasst Name" %>
	     			</div>
		</div>
		<div class= "row">
				<div class= "text-left col-sm-8">
					<%= f.label :email, :for => :email %><br />
					<%= f.email_field :email, :class => "form-control", :id => "email", :placeholder => "Enter Email Address" %>
				</div>		 
				<div class= "text-left col-sm-4"> 
					<%= f.label :tiebreaker, :for => :tiebreaker %><br />
					<%= f.text_field :tiebreaker, :class => "form-control", :id => "tiebreaker", :placeholder => "i.e. -7" %>
				</div>
		</div>
		<div class= "row">
				<div class= "text-left col-sm-6">	 
						 <%= f.label :password, :for => :password %> <br />
						 <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "password", :placeholder => "Enter Password" %>
				</div>
				<div class= "text-left col-sm-6">
						 <%= f.label :password_confirmation, :for => :password_confirmation %> <br />
						 <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :id => "password_confirmation", :placeholder => "Enter Password Again" %>
				</div>
		</div>
		<br />
		<div class= "row">
				<div class= "text-left col-sm-3"></br>
					<div><%= f.submit "Sign Up", :class => "btn btn-primary" %></div>
				</div>
				
		</div>

	
	<% end %>
	<br />		       

		
		<div class= "row">
			<div class= "text-left col-sm-3">	
				<%= render "devise/shared/links" %>
			</div>

		</div>		
	

</div>

