
	   	<div class= "mainBG col-sm-5">
			<div class= "row">
				<div class= "text-left col-sm-12"><h4>Golfer Leaderboard</h4></div>
			</div>
			<div class= "row">    
				   <table>
 					   <tr>
					     <td class="main text-left"><h5><b><%=link_to 'Name', golfer_list_path, :sort => 'last_name'%></b></h5></td>
					     <td class="main text-center"><h5><b><%=link_to 'Score', golfer_list_path, :sort => 'score'%></b></h5></td>
					     <td class="main text-center"><h5><b><%=link_to 'Thru', golfer_list_path, :sort => 'thru'%></b></h5></td>
					     <td class="main text-center"></td>								   
			     		   </tr>
					
					<%for golfer in @golfers -%>
   					<tr>
	   					<td class="main text-left"><%=link_to h(golfer.full_name), "#{ApplicationHelper::WEB_URL}#{golfer.first_name}+#{golfer.last_name}/#{golfer.web_id}/scorecard/#{tournament_year}/#{tournament_web_id}", :target => '_blank' %></td>
     						<td class="main text-center">
	  						<%if golfer.score == 0%>
	    						   E
	  						<%else%>
								<%if golfer.score > 90%>
									<font color="#FF0000">MC</font>
								<%else%>
									<%=h (golfer.score)%>
								<%end%>
     	  						<%end%>
						</td>
     						<td class="main text-center"><%=h (golfer.thru)%></td>
						<td class="main text-center">
							<%= link_to 'Who has', golfer_who_has_path(golfer.id) %>
						</td>
						<td>
						</td>
   					</tr>
   					<%end%>
					
				   </table>
			</div>
    		</div>

