		<div class= "mainBG col-sm-5">
			<div class= "row">
				<div class= "text-left col-sm-12"><h4><%=@group.name%></br>
					<small><%= @group.message%></small></h4>
				</div>
			</div>
				<div class= "row">    
					<div class= "text-left col-sm-6">       
						Group Creator: <b><%= @group.user.full_name%></b>
					</div>
					<div class= "text-center col-sm-3"></div>
					<div class= "text-center col-sm-3">       
						<button type="button" class="btn btn-primary btn-sm btn-block">Invite Friends</button>
					</div>
				</div>
				<div class= "row">    
					<div class= "text-left col-sm-6">       
						Group Type: </b><%=@group.private ? "Private" : "Public"%></b>
					</div>
				</div>
				<div class= "row">    
					<div class= "text-left col-sm-6">       
						Group Size: <b><%= GroupMember.where("group_id = ?", @group.id).count%></b>
					</div>
					<div class= "text-center col-sm-3"></div>
					<div class= "text-center col-sm-3">       
						<%if group_member %>
							<%= button_to "Leave Group", group_leave_path(:id => group_member.id), method: :get, :class =>"btn btn-danger btn-sm btn-block" %>
						<%else%>
							<%= button_to "Join Group", group_join_path(:id => @group.id), method: :get, :class =>"btn btn-danger btn-sm btn-block" %>
						<%end%>
					</div>
				</div>
				<%if @group.private %>
				<div class= "row">    
					<div class= "text-left col-sm-6">       
						Group Password: <b><%= @group.password%></b>
					</div>
				</div>
				<%end%>
				<div class= "row">    
					<div class= "text-left col-sm-6">       
						<hr>
					</div>
				</div>
				<div class= "row">    
				<%@line = false%>
				   <table>
					<tr>
						<td class="main text-center"><h5><b>Rank</b></h5></td>
						<td class="main text-left" width="40%"><h5><b>Name</b></h5></td>
						<td class="main text-center"><h5><b>Score</b></h5></td>
						<td class="main text-center"><h5><b>Tiebreaker</b></h5></td>
						<td class="main text-center"><h5><b>Overall Rank</b></h5></td>
					</tr>
					
				<% @members.each do |member| %>
				<%score = member.score%>
				<%if score > 50 && @line == false%>
					<tr class="main"><td class="main text-center" colspan="4"><hr></td></tr>
					<%@line = true%>
				<%end%>
				<tr class="main">
					<td class="main text-center">
					<%if score < 50 %>
						<%if member.group_rank > 0 %>
							<%=member.group_rank%>
						<%end%>
					<% end %>
					</td>
					<td class="main text-left" width="40%"><%=link_to h(member.full_name), users_golfers_path(member.id) %></td>
					<td class="main text-center">	
					<%if score > 50%>
						<font color="#FF0000">MC</font>
					<%else%>
						<%=h score%>
					<%end%>
					</td>
					<td class="main text-center"><%=member.tiebreaker%></td>	
					<td class="main text-center">	
					<%if score < 50 %>
						<%if member.rank > 0 %>
							<%=member.rank%>
						<%end%>
					<% end %>
					</td>
				</tr>
				<%end%>	
				   </table>
			</div>
		</div>
