 <h2><%=@player.full_name%></h2>
 <h2>Score: <%=@player.score%></h2>
 <p>Tiebreaker: <%=@player.tiebreaker%></p>
 <hr>
 <h3>Golfers</h3>
 <table>
   <tr>
     <td align="center"><b>Rank</b></td>
     <td align="left"><b>Name</b></td>
     <td align="center"><b>Score</b></td>
	 <td align="center"><b>Thru</b></td>
   </tr>
 <%rank = 0%>
 <%line = false%>
 
<%for selected in @golfers%>
<%rank += 1%>
   	<%score = selected.golfer.score%>
    <%if score > 90 && line == false%>
	  <tr><td colspan="4"><hr></td></tr>
	  <%line = true%>
	<%end%>

<tr class="<%= cycle('odd', 'even') %>">

	<td align="center" width="75"><%=selected.sort%></td>
	<td align="left" width="175"><%=link_to h(selected.golfer.full_name), "#{ApplicationHelper::WEB_URL}#{selected.golfer.first_name}+#{selected.golfer.last_name}/#{selected.golfer.web_id}#{ApplicationHelper::WEB_SCORECARD}", :target => '_blank' %></td>
   <td align="center" width="75">
   	<%if score == 0%>
	E
	<%else%>
	  <%if score > 90%>
	    <div align="center"><font color="#FF0000">MC</font></div>
	  <%else%>
		<%=h score%>
	  <%end%>
	<%end%>
	</td>
   <td align="center" width="75"><%=h selected.golfer.thru%></td>	
 </tr>
 <%if rank == 5%>
  <tr><td colspan="4">&nbsp;</td></tr> 
 <%end%>
 <%end%>
 </table>


