			<div class="row">
				<div class= "text-left col-sm-6">
					<p><%= f.label :name, :for => :name %><br/>
					<%= f.text_field :name, :class => "form-control", :id => "name", :placeholder => "Enter Tournmant Name"  %></p>
				</div>
			</div>
			<div class="row">
				<div class= "text-left col-sm-6">
					<p><%= f.label :year, :for => :year %><br/>
					<%= f.text_field :year, :class => "form-control", :id => "year", :placeholder => "Enter Year"  %></p>
				</div>
			</div>
			<div class="row">
				<div class= "text-left col-sm-6">
					<p><%= f.label :date, :for => :date %><br/>
					<%= f.text_field :date, :class => "form-control", :id => "date", :placeholder => "Enter Date"  %></p>
				</div>
			</div>
			<div class="row">
				<div class= "text-left col-sm-6">
					<p><%= f.label :web_id, :for => :web_id %><br/>
					<%= f.text_field :web_id, :class => "form-control", :id => "web_id", :placeholder => "Enter WebID"  %></p>
				</div>
			</div>

