<%index=0%>	
<%for golfer in @golfers -%>
	<%not_selected = true%>
	    <%for selection in @my_golfers%>
		<%if golfer.id == selection.golfer_id%>
			<%not_selected = false%>
 		<%end%>
	    <%end%>
  	<%if not_selected%>	
	 <%if session[:select_count].to_i < 7%>
		<div class= "row">
			<div class= "col-sm-12">
				<%= radio_button :selection, :golfer_id, golfer.id%><%=link_to h(golfer.full_name), "#{ApplicationHelper::WEB_URL}#{golfer.first_name}+#{golfer.last_name}/#{golfer.web_id}/scorecard/#{tournament_year}/#{tournament_web_id}", :target => '_blank' %><br/>
				<%=hidden_field :selection, :user_id, :value => current_user.id %>
				<%=hidden_field :selection, :rank, :value => session[:select_count] %>
			 </div>		
		</div>
	<%else%>
		<%index=index+1%>
		<% if index % 3 == 1 %>	
			<div class= "row">
		<%end%>
			<div class= "col-sm-4 text-span hideOverflow">
				<%= radio_button :selection, :golfer_id, golfer.id%><small><%=link_to h(golfer.full_name), "#{ApplicationHelper::WEB_URL}#{golfer.first_name}+#{golfer.last_name}/#{golfer.web_id}/scorecard/#{tournament_year}/#{tournament_web_id}", :title => h(golfer.full_name), :target => '_blank' %></small>
						<%=hidden_field :selection, :user_id, :value => current_user.id %>
						<%=hidden_field :selection, :rank, :value => session[:select_count] %>
			</div>
			<% if action_name == "edit" %>
				<% if index % 3 == 0 or index+4 == @golfers.count%></div><% end %>
			<% else %>
				<% if session[:select_count].to_i == 7 %>
					<% if index % 3 == 0 or index == @golfers.count%></div><% end %>
				<%end %>
				<% if session[:select_count].to_i == 8 %>
					<% if index % 3 == 0 or index+1 == @golfers.count%></div><% end %>
				<%end %>
				<% if session[:select_count].to_i == 9 %>
					<% if index % 3 == 0 or index+2 == @golfers.count%></div><% end %>
				<%end %>
				<% if session[:select_count].to_i == 10 %>
					<% if index % 3 == 0 or index+3 == @golfers.count%></div><% end %>
				<%end %>
		  
			<%end%>	
	<% end %>
 <%end%>
<%end%>
<div class= "row"><div class="col-sm-12"><br /></div></div>

