<%if current_user.email == "jeff@fgm.com" %>
<ul class="list-unstyled">
	<li>Number of players: <strong></strong></li>
</ul>
<ul class="list-unstyled">
	<li><%=link_to "Manage Tournaments", tournaments_path %></li>
	<li><%=link_to "Manage Golfers", golfers_manage_path %></li>
	<li><%=link_to "Update Golfers Rank", golfers_path %></li>
	<li><%=link_to "Update Golfers Scores (web)", golfer_scores_path %></li> 
	<li><%=link_to "Update Golfers Scores (manually)", golfer_manual_score_update_path %></li>
	<li><%=link_to 'Send Email to All', "/" %></li>
	<li><%=link_to 'Send Email to Select', "/" %></li>
	<li><%=link_to "Clear All Selections", selection_clear_path, data: { confirm: "Are you sure?" } %></li>
	<li><%=link_to "Clear Golfers Score", golfers_clear_score_path, data: { confirm: "Are you sure?" } %></li>
</ul>
<%else%>
<ul class="list-unstyled">
	<li>Overall Rank: 
		<%if current_user.rank > 0%>
			<strong><%=current_user.rank.ordinalize%> <%=current_user.my_rank(current_user.rank)%></strong>
		<%end%>
	</li>
	<li>Group: <strong>
		<%if GroupMember.where("user_id = ?", current_user.id).first == nil %>
			<%= link_to "Create", new_group_path%> | <%= link_to "Join", groups_path %>
		<%else%>
			<%=link_to group_name, group_path(group_id)%>
			<%if Group.where("user_id = ?", current_user.id).first != nil && Group.where("user_id = ?", current_user.id).first.user_id == current_user.id %> 
			&nbsp;<small>(<%= link_to 'Edit', edit_group_path(group_id) %>)</small>
			<%end%>
		<%end%>
	</strong></li>
	<%if current_user.group_rank > 0%>
		<li>Group Rank: <strong> <%=current_user.group_rank.ordinalize%></strong></li>
	<%end%>
	<li>Status: <strong>Paid</strong></li>
	<li>Tiebreaker:
	<%if tournament_locked? %>
		<%=current_user.tiebreaker %>
	<% else %>
			<strong><%=best_in_place current_user, :tiebreaker, :path => user_registration_path, :html_attrs => { :style => 'width:40px;' }, :activator => "#tiebreak" %></strong>&nbsp;&nbsp;
				<%= link_to '#', :id => :tiebreak do %>
  					<span class="glyphicon glyphicon-edit"></span>
				<% end %>
	<% end %>		
	</li>

</ul>
<ul class="list-unstyled">
	<li><%=link_to "Overall Leaderboard", root_path %></li>
	<li><%=link_to "Golfer Leaderboard", golfer_list_path %></li>
	<li><%=link_to "Groups", groups_path %></li>
</ul>
<%if !tournament_locked? %>
<ul class="list-unstyled">
	<li>
	<%if Selection.where("user_id = ?", current_user).count == 10 %>
		Click <span class="glyphicon glyphicon-edit"></span> to change golfer
	<%else%>
		<%= button_to "Select Golfers", selection_golfers_path, method: :get, :class =>"btn btn-danger" %>
	<%end%>		
	</li>
</ul>
<% end %>
	<table>
		<tr>
			<td class="myGolfer"><h5><b>My Golfers</b></h5></td>
			<td class="myGolfer text-center"><h5><b>Score</b></h5></td>
			<td class="myGolfer text-center"><h5><b>Thru</b></h5></td>
		</tr>
	<%for my_golfer in Selection.includes(:golfer).where(:user_id => current_user).order("golfers.score asc, selections.sort asc") -%> 
		<tr class="myGolfer">
			<td class="myGolfer">
				<%if !tournament_locked? %>
				<%= link_to edit_selection_path(current_user, :select_count => my_golfer.rank) do %>
  					<span class="glyphicon glyphicon-edit"></span>
				<% end %>	
			    <% end %>
				<small><%=my_golfer.golfer.full_name%></small>
			</td>
	
			<td class="myGolfer text-center"><small>
								<%if my_golfer.golfer.score > 90%>
									<font color="#FF0000">MC</font>
								<%else%>
									<%=h (my_golfer.golfer.score)%>
								<%end%>
							</small></td>
			<td class="myGolfer text-center"><small><%=my_golfer.golfer.thru%></small></td>
		</tr>	
	<%end%>
	</table>
<%end%>
