<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Golf Majors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FantasyGolfMajors", '/', id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Refer Friend</a></li>
        <li><a href="#">Contact</a></li>
   <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
   <% else %>
	<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
	<li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %></li>
   <% end %>
</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
     <% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
     <% end %>
     <% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
     <% end %>
  </div>

  <div class="container">
	<div class="row">
		<div class="text-center col-sm-12">
			<h1><%=ApplicationHelper::TOURNAMENT_NAME%></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="text-center col-sm-5"><small>Last Update: 4/12 11:30 am</small></div>
		<div class="col-sm-4"></div>
	</div>
	<div class = "row">
		<div class="myGolferBG col-sm-3">
		<% if user_signed_in? %>  
	   		<div class="panel panel-default">
	    			<div class="panel-heading">
					<h3 class="panel-title"><%=current_user.full_name%></h3>
					<%= link_to 'Edit profile', edit_user_registration_path %> |
		  			<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
	    			</div>
  	    			<div class="panel-body">
					<%= render :partial => '/selections/my_golfers' %>
	    			</div>
	   		</div>
	 	<%end%> 
 		</div>

	  <%= yield %>
	  <div class= "col-sm-4">
		 <div id="fb-root"></div> 
<div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=847545545259015&amp;id=847543381925898" data-width="400"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/permalink.php?story_fbid=847545545259015&amp;id=847543381925898">Post</a> by <a href="https://www.facebook.com/pages/Fantasy-Golf-Majors/847543381925898">Fantasy Golf Majors</a>.</div></div> 
		<div class="fb-comments" data-href="https://www.facebook.com/pages/Fantasy-Golf-Majors/847543381925898" data-width="400" data-numposts="20" data-colorscheme="light"></div>		
	</div>
     </div>
  </div>
</body>
</html>
